.wrapper-contact-form{
    text-align: center;
    margin-bottom: 10px;


    .form-field{
        width: 80%;
    }

    .btn-container{
        display: flex;
        justify-content: space-between;
    }
}